@import 'reset';
@import 'var';
@import 'body';
@import 'nav';
@import 'footer';


.main {
  margin: 0em auto;
}



@media (max-width: 600px) {
  .navigation {

    &__logo {
      padding: 10px;
    }

    &__item {
      display: none;
    }
  }
}
