/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.navigation {
  clear: both;
  overflow: auto;
  background-color: #2765a2;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
}
.navigation__logo {
  float: left;
  max-height: 50px;
  padding-left: 20%;
}
.navigation__item {
  color: #fff;
  float: right;
  padding-right: 20%;
}
.navigation__item a {
  text-decoration: none;
  color: #fff;
}
.navigation__item ul li {
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}
.navigation__item ul li:hover {
  color: #ddd;
}

.footer {
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
.footer__up {
  background-color: #273442;
  padding: 40px;
}
.footer__up__text {
  color: #dedede;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer__up__img {
  transition: transform 3s ease;
  max-width: 40px;
  background-color: #fff;
  border-radius: 100%;
  padding: 2.6666666667px;
  margin: 10px;
}
.footer__up__img:hover {
  transform: rotate(360deg);
}
.footer__down {
  background-color: #232f3b;
  padding-top: 13.3333333333px;
  padding-bottom: 13.3333333333px;
}
.footer__down__text {
  font-size: 0.9em;
  text-decoration: none;
  color: #fff;
}
.footer__down__text--span {
  font-weight: bold;
}

.main {
  margin: 2em auto;
  width: 50%;
  padding-top: 40px;
}
.main__img {
  max-width: 300px;
  border-radius: 50% 2%;
  float: left;
  padding-right: 40px;
}
.main__text h1 {
  font-size: 3em;
}
.main__text--span {
  font-weight: bold;
  color: #2765a2;
}
.main__text p {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 13.3333333333px;
}

.work {
  padding: 40px;
}

@media (max-width: 1200px) {
  .main {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .main__img {
    max-width: 200px;
    float: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .navigation__logo {
    padding: 10px;
  }
  .navigation__item {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
